/* 기본 배치 및 애니메이션 */
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-size: 100%;
    vertical-align: baseline;
}

html,
body {
    display: block;
    font-size: 100%;
    text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    background-color: rgb(255, 255, 255);

    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        "Noto Sans KR", "Apple SD Gothic Neo", "Malgun Gothic", "Helvetica Neue",
        Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding-top: 0;
}

#root {
    position: relative;
    min-height: 100vh;
}

/* header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 3;
}

#logo_header {
    position: fixed;
    transform: translate(0, 0);
    left: 30px;
    top: 10px;
} */

#switch_1 {
    cursor: pointer;

    position: absolute;
    transform: translate(0, -50%);
    left: 200px;
    top: 50%;
    width: 90px;
    height: 30px;
    text-align: center;
    border-radius: 2px;
    background-color: white;
    color: rgb(0, 0, 0);
    align-items: center;
    justify-content: center;
    display: flex;
}

#switch_2 {
    cursor: pointer;

    position: absolute;
    transform: translate(0, -50%);
    left: 320px;
    top: 50%;
    width: 90px;
    height: 30px;
    text-align: center;
    border-radius: 2px;
    background-color: white;
    color: rgb(0, 0, 0);
    align-items: center;
    justify-content: center;
    display: flex;
}




/* 시간조율표 만들기 */
.TimeSelect_make {
    display: block;

    position: absolute;
    transform: translate(-50%, 0);
    left: 50%;
    top: 100px;
    width: 600px;
    height: 800px;
    background-color: rgba(255, 255, 255);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    z-index: 5;

    margin: 2rem auto;
    padding: 2rem;
}

.TimeSelect_make.off {
    display: none;
}

#TimeSelect_make_title {
    font-size: 1.875rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
    color: rgb(0, 0, 0);
}

.TimeSelect_make_item {
    margin-bottom: 1rem;
}

.TimeSelect_make_label {
    display: block;
    font-size: 0.875rem;
    font-weight: 500;
    color: rgb(0, 0, 0);
    margin-bottom: 0.25rem;
}

.TimeSelect_make_item input[type="date"],
.TimeSelect_make_item input[type="time"],
.TimeSelect_make_item select {
    width: 80%;
    padding: 10px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 8px;
    transition: all 0.2s;
    box-sizing: border-box;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    filter: invert(1);
}

.TimeSelect_make_item input[type="date"]:focus,
.TimeSelect_make_item input[type="time"]:focus,
.TimeSelect_make_item select:focus {
    outline: none;
    border-color: #33A1E0;
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.25);
}

.TimeSelect_make_buttoncontainer {
    display: flex;
    justify-content: center;
    padding-top: 1.5rem;
}

#TimeSelect_make_button {
    cursor: pointer;

    padding: 0.5rem 1.5rem;
    background-color: #33A1E0;
    color: #ffffff;
    font-weight: 600;
    border-radius: 0.5rem;
    border: none;
}

.TimeSelect_made_list {
    margin-top: 50px;
    width: 500px;
    height: 250px;
    border: 1.5px solid rgb(0, 0, 0);
    border-radius: 0.5rem;
}

.TimeSelect_item {
    cursor: pointer;

    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.75rem 1rem;
    font-weight: 700;
    color: rgb(255, 255, 255);
    border-bottom: 2px solid rgb(0, 0, 0);
}

.TimeSelect_item_title {
    width: 100%;
    color: rgb(0, 0, 0);
}


/* 1번: 시간조율 */
.TimeSelect {
    display: none;

    position: absolute;
    transform: translate(-50%, 0);
    left: 50%;
    top: 125px;
    width: 1600px;
    height: 800px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    z-index: 2;
}

.TimeSelect.on {
    display: block;
}

#TimeSelect_title {
    position: absolute;
    left: 40px;
    top: 30px;
    font-size: 1.875rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
    color: rgb(0, 0, 0);
}

/* 생성창으로 돌아가기 */
#exit_TimeSelect {
    cursor: pointer;

    position: absolute;
    right: 20px;
    top: 15px;
    width: 180px;
    height: 45px;
    padding: 0.5rem 1.5rem;
    background-color: #33A1E0;
    color: white;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
}

/* 위에 요일 표기 */
#box_upDay {
    position: absolute;
    transform: translate(-50%, 0);
    left: 50%;
    top: -50px;
    width: 528.5px;
    height: 50px;
    /* border: 2px solid rgb(0, 0, 0);
    border-radius: 20px; */
    z-index: 3;
    pointer-events: none;
    color: rgb(0, 0, 0);

    display: flex;
    flex-direction: row;
}

.box_upDay_mode {
    width: 75px;
    height: inherit;
    font-size: 13.75px;
    text-align: center;
    /* border: 1px solid rgb(0, 0, 0);
    border-radius: 2.5px; */

    display: flex;
    align-items: center;
    justify-content: center;
}

#box_upDay_rightShow {
    position: absolute;
    transform: translate(-50%, 0);
    left: 50%;
    top: -50px;
    width: 528.5px;
    height: 50px;
    /* border: 2px solid rgb(0, 0, 0);
    border-radius: 20px; */
    z-index: 3;
    pointer-events: none;
    color: rgb(0, 0, 0);

    display: flex;
    flex-direction: row;
}


/* 왼쪽에 시간대 표기 */
#box_leftTime {
    position: absolute;
    transform: translate(0, 0);
    left: -75px;
    top: -15px;
    width: 75px;
    max-height: 1470px;
    /* max 높이가 1470px */


    z-index: 2;
    pointer-events: none;
    color: #000;

    display: flex;
    flex-direction: column;
}

.box_leftTime_mode {
    margin: 0;
    width: 75px;
    height: 30px;
    font-size: 13.75px;
    /* border: 1px solid rgb(0, 0, 0);
    border-radius: 2.5px; */

    display: flex;
    align-items: center;
    justify-content: center;
}

#box_leftTime_rightShow {
    position: absolute;
    transform: translate(0, 0);
    left: -75px;
    top: -15px;
    width: 75px;
    height: 1470px;
    /* border: 2px solid rgb(0, 0, 0);
    border-radius: 20px; */
    z-index: 2;
    pointer-events: none;
    color: #000;

    display: flex;
    flex-direction: column;
}

/* .time_label {
    font-size: 1rem;
    font-weight: 500;
    color: #4b5563;
    text-align: center;
    border-radius: 6px;
    padding: 4px;
} */



/* 오른쪽에 선택된 정보 표기 */
#box_rightResult {
    position: absolute;
    transform: translate(0, 0);
    left: 1200px;
    top: 1150px;
    width: 300px;
    height: 600px;
    /* border: 2px solid rgb(0, 0, 0); */
    /* border-radius: 20px; */
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1;
    white-space: pre-wrap;
}

/* 드래그 구간 */
#GRID_leftSelect {
    /* 박스 테두리 설정 */
    position: absolute;
    transform: translate(0, -50%);
    right: 55%;
    top: 50%;
    width: 525px;
    height: 540px;
    border: 2px solid rgb(0, 0, 0);
    z-index: 1;
    overflow: visible;

    /* 그리드 칸 */
    display: grid;
    /* grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(18, 1fr);
    user-select: none; */
}

#GRID_leftSelect_label {
    position: absolute;
    transform: translate(-50%, 0);
    left: 50%;
    top: -87.5px;
    font-size: 25px;
    white-space: nowrap;
    color: rgb(0, 0, 0);
}

#GRID_leftSelect_GridContainer {
    width: inherit;
    height: inherit;
}

.grid_cell {
    /* border: 1px solid rgb(0, 0, 0); */
    cursor: pointer;
}

.grid_cell.selected {
    background-color: #33A1E0;
}

#GRID_rightShow {
    position: absolute;
    transform: translate(0, -50%);
    left: 55%;
    top: 50%;
    width: 525px;
    height: 540px;
    border: 2px solid rgb(0, 0, 0);
    z-index: 1;

    /* 그리드 칸 */
    display: grid;
    /* grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(18, 1fr);
    user-select: none; */
}

#GRID_rightShow_label {
    position: absolute;
    transform: translate(-50%, 0);
    left: 50%;
    top: -87.5px;
    font-size: 25px;
    white-space: nowrap;
    color: rgb(0, 0, 0);
}

#GRID_rightShow_GridContainer {
    width: inherit;
    height: inherit;
}

/* .grid_cell_right {
    border: 1px solid rgb(0, 0, 0);
    cursor: pointer;
} */

.grid_cell_right.selected {
    background-color: rgb(255, 155, 55);
}

#Refresh_rightshow {
    cursor: pointer;
    display: flex;

    position: absolute;
    right: -60px;
    top: 12px;
    width: 35px;
    height: 35px;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 7px;
    align-items: center;
    justify-content: center;
}

#between_GridLine {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    width: 5px;
    height: 700px;
    background-color: rgb(0, 0, 0);
    border-radius: 25px;
}




/* 2번: 게시판 나열 */
.GaeSiPan_list {
    display: none;

    position: absolute;
    transform: translate(-50%, 0%);
    left: 50%;
    top: 125px;
    width: 1600px;
    height: 800px;
    border: 2px solid black;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

    overflow: hidden;
    box-sizing: border-box;
    margin: 0;
    padding: 20px;
}

.GaeSiPan_list.on {
    display: block;
}

#GaeSiPan_list_title {
    position: absolute;
    left: 40px;
    top: 30px;
    font-size: 1.875rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
    color: rgb(0, 0, 0);
}


#list_write {
    position: absolute;
    transform: translate(-50%, 0);
    left: 50%;
    top: 75px;
    width: 1400px;
    height: 700px;

    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: #fff;
    padding: 1.5rem;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.post_header {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.75rem 1rem;
    font-weight: 700;
    color: rgb(255, 255, 255);
    border-bottom: 2px solid rgb(0, 0, 0);
}

.post_item {
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 0.5rem 1rem;
    transition: background-color 0.2s;
    /* border-bottom: 1px solid rgb(0, 0, 0, 0.2); */
    position: relative;
}

.post_item::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -0.44rem;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.2);
    transform: translateY(100%);
}

.post_item:hover {
    background-color: rgb(0, 0, 0, 0.2);
}

.post_item:last-child {
    border-bottom: none;
}

.post_id {
    flex-basis: 7.5%;
    font-weight: 600;
    color: rgb(0, 0, 0);
}

.post_title {
    flex-basis: 37.5%;
    font-weight: 500;
    color: rgb(0, 0, 0);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.post_title.RED_title {
    color: rgb(225, 0, 0);
}

.post_author {
    flex-basis: 20%;
    color: rgb(0, 0, 0);
    text-align: right;
}

.post_timestamp {
    flex-basis: 20%;
    color: rgb(0, 0, 0);
    font-size: 0.875rem;
    text-align: right;
}

.post_ishaveVote {
    flex-basis: 10%;
    color: rgb(0, 0, 0);
    font-size: 0.875rem;
    text-align: right;
}

.post_ishavefile {
    flex-basis: 10%;
    color: rgb(0, 0, 0);
    text-align: right;
    font-weight: 600;
}

#GSP_write {
    cursor: pointer;

    position: absolute;
    right: 30px;
    top: 20px;
    padding: 1rem;
    white-space: nowrap;

    padding: 0.5rem 1.5rem;
    background-color: #33A1E0;
    color: #ffffff;
    font-weight: 600;
    border-radius: 0.5rem;
    border: none;
    transition: background-color 0.2s;
    z-index: 2;
}

#GSP_write p {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    text-align: center;
}

#GSP_page {
    position: absolute;
    left: 100px;
    bottom: 25px;
    width: 540px;
    height: 45px;
    /* background-color: rgb(255, 255, 255);
    border: 2px solid black;
    border-radius: 5px; */
    z-index: 1;

    display: flex;
    flex-direction: row;
}

/* .GSP_page_leftmode {
    position: absolute;
    left: 0;
    top: 0;
    width: 45px;
    height: 45px;
    background-color: rgb(255, 255, 255);
    border: 2px solid black;
    border-radius: 5px;
}
.GSP_page_rightmode {
    position: absolute;
    right: 0;
    top: 0;
    width: 45px;
    height: 45px;
    background-color: rgb(255, 255, 255);
    border: 2px solid black;
    border-radius: 5px;
} */

.GSP_page_mode {
    cursor: pointer;

    position: relative;
    width: 45px;
    height: inherit;
    /* border: 2px solid black;
    border-radius: 5px; */

    display: flex;
    align-items: center;
    justify-content: center;
}


#GSP_blurScreen {
    display: none;

    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    /* z-index 게시글 리스트 보다는 앞에, 작성보다는 뒤에 */
}

#GSP_blurScreen.on {
    display: block;
}




/* 3번: 게시글 작성 */
.GaeSiPan_Write {
    display: none;
    margin: 2rem auto;
    padding: 2rem;

    position: absolute;
    transform: translate(-50%, 0);
    left: 50%;
    top: 200px;
    width: 1200px;
    height: 600px;
    border: 2px solid black;
    border-radius: 12px;
    background-color: white;

    z-index: 3;
}

.GaeSiPan_Write.on {
    display: block;
}

/* 작성 페이지 나가기 버튼 */
#exit_write {
    cursor: pointer;

    position: absolute;
    right: 30px;
    top: 15px;
    width: 20px;
    height: 20px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 2.5px;
    margin: 0;
    padding: 0;
}

#exit_write p {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

#GSPW_head {
    font-size: 1.875rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
    color: rgb(0, 0, 0);
}

.GSPW_field {
    margin-bottom: 1rem;
}

.form-label {
    display: block;
    font-size: 0.875rem;
    font-weight: 500;
    color: #374151;
    margin-bottom: 0.25rem;
}

.form-input,
.form-textarea {
    width: 100%;
    border: 1px solid #d1d5db;
    padding: 0.75rem;
    border-radius: 8px;
    transition: border-color 0.2s;
}

.form-input:focus,
.form-textarea:focus {
    outline: none;
    border-color: #4b5563;
}

.form-textarea {
    resize: vertical;
}

.checkbox-container {
    display: flex;
    align-items: center;
}

.checkbox-label {
    margin-left: 0.5rem;
    display: block;
    font-size: 0.875rem;
    color: #111827;
    user-select: none;
}

.form-file-input::-webkit-file-upload-button {
    margin-right: 1rem;
    padding: 0.5rem 1rem;
    border: 0;
    border-radius: 9999px;
    font-size: 0.875rem;
    font-weight: 600;
    background-color: rgb(0, 0, 0, 0.05);
    color: #33A1E0;
    cursor: pointer;
}

.form-file-input::-webkit-file-upload-button:hover {
    background-color: #e0e7ff;
}

.button-container {
    display: flex;
    justify-content: flex-end;
}

.GSPW_vote_button {
    cursor: pointer;
    width: 100px;
    height: 33px;

    padding: 0;
    background-color: rgb(0, 0, 0, 0.05);
    color: #33A1E0;
    font-weight: 600;
    white-space: nowrap;
    border-radius: 0.5rem;
    border: none;
}

.GSPW_submit_button {
    cursor: pointer;

    padding: 0.5rem 1.5rem;
    background-color: #33A1E0;
    color: #ffffff;
    font-weight: 600;
    border-radius: 0.5rem;
    border: none;
    /* transition: background-color 0.2s; */
}

/* .submit-button:hover {
    background-color: #33A1E0;
} */

/* Custom Alert Styles */
.custom-alert-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 50;
}

.custom-alert-content {
    background-color: #ffffff;
    padding: 1.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 24rem;
    width: 100%;
    text-align: center;
}

.alert-message {
    font-size: 1.125rem;
    font-weight: 500;
    color: #1f2937;
    margin-bottom: 1rem;
}

.alert-button {
    padding: 0.5rem 1rem;
    background-color: #33A1E0;
    color: #ffffff;
    border-radius: 0.375rem;
    border: none;
    cursor: pointer;
}

#GSPW_blurScreen {
    display: none;

    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    /* z-index 게시글 리스트 보다는 앞에, 작성보다는 뒤에 */
}

#GSPW_blurScreen.on {
    display: block;
}




/* 6번: 게시글 보기 */
.GaeSiPan_See {
    /* display: none; */
    margin: 2rem auto;
    padding: 2rem;

    position: absolute;
    transform: translate(-50%, 0);
    left: 50%;
    top: 1000px;
    width: 1600px;
    height: 1200px;
    border: 2px solid black;
    border-radius: 12px;
    background-color: white;

    z-index: 3;
}

/* .GaeSiPan_See.on {
    display: block;
} */

/* 작성 페이지 나가기 버튼 */
#exit_See {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    right: 30px;
    top: 15px;
    width: 20px;
    height: 20px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 2.5px;
    margin: 0;
    padding: 0;
}

#GSPS_head {
    font-size: 1.875rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
    color: rgb(0, 0, 0);
}

.GSPS_field {
    display: flex;
    margin-bottom: 1rem;
}

.GSPS_download_field {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    border: 1.5px solid rgb(0, 0, 0);
    width: 33%;
}

#GSPS_download_title {
    margin: 1rem;
    font-size: 1rem;
    font-weight: bold;
    color: rgb(0, 0, 0);
}

.GSPS_download_mode {
    cursor: pointer;

    display: flex;
    margin-left: 1rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
    width: 80%;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    background-color: rgb(0, 0, 0, 0.2);
}

#GSPS_title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
    color: rgb(0, 0, 0);

    border: 1px solid rgb(0, 0, 0);
    border: 2px;
}

#GSPS_file {
    width: 100px;
    height: 50px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    margin-right: 1rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

#GSPS_content {
    padding: 1rem 1.5rem;
    width: 1500px;
    border: 1px solid rgb(0, 0, 0);
}









/* 7-2 번: 투표하는 화면 */
.VOTE_Page {
    position: absolute;
    width: 600px;
    left: 100px;
    top: 1300px;

    border: 1px solid rgb(0, 0, 0);
    border-radius: 4px;
    display: block;
    flex-direction: column;
    padding: 20px;
}

#VOTE_title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: rgb(0, 0, 0);
}

#VOTE_isitMulti {
    display: block;
    font-size: 16px;
    margin-bottom: 0.25rem;
}

#VOTE_isitSecret {
    display: block;
    font-size: 16px;
    margin-bottom: 0.5rem;
}

.VOTE_item {
    border: 1px solid rgb(0, 0, 0);
    border-radius: 0.5rem;
    margin: 1.5rem auto;
    padding: 1rem;
}

.VOTE_complete_button {
    cursor: pointer;

    padding: 0.5rem 1.5rem;
    background-color: #33A1E0;
    color: #ffffff;
    font-weight: 600;
    border-radius: 0.5rem;
    border: none;
}




/* 7-3 번: 투표 결과 화면 */
.VOTE_Result {
    display: none;
    z-index: 1;

    position: absolute;
    width: 600px;
    left: 800px;
    top: 1300px;

    border: 1px solid rgb(0, 0, 0);
    border-radius: 4px;
    flex-direction: column;
    padding: 20px;
}

.VOTE_Result.on {
    display: block;
}

.exit_VOTE_Result {
    cursor: pointer;

    position: absolute;
    right: 20px;
    top: 10px;
    width: 25px;
    height: 25px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#VoteResult_title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
    color: rgb(0, 0, 0);
}

.VoteResult_item {
    border: 1px solid rgb(0, 0, 0);
    border-radius: 0.5rem;
    margin: 1.5rem auto;
    padding: 1rem;

    position: relative;
}

.VoteResult_item_PeopleNumber {
    position: absolute;
    right: 20px;
    top: 10px;

    cursor: pointer;
}

.VoteResult_item_WhoVoted {
    position: absolute;
    right: -140px;
    top: 0;
    z-index: 1;

    width: 100px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 0.5rem;
    background-color: rgb(0, 0, 0, 0.2);

    display: none;
    flex-direction: column;
    align-items: center;
}

.VoteResult_item_WhoVoted.on {
    display: flex;
}

.VoteResult_item_Gage {
    margin-top: 0.5rem;
    height: 10px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 0.25rem;
}

.VoteResult_revote_button {
    cursor: pointer;

    padding: 0.5rem 1.5rem;
    background-color: #33A1E0;
    color: #ffffff;
    font-weight: 600;
    border-radius: 0.5rem;
    border: none;
}



/* 7-1 번: 투표 생성 */
.VOTE_Make {
    position: absolute;
    top: 200px;
    width: 600px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 0.5rem;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;

    display: none;
    flex-direction: column;
    padding: 20px;
    z-index: 3;
}

.VOTE_Make.on {
    display: block;
}

#exit_VoteMake {
    cursor: pointer;

    position: absolute;
    right: 20px;
    top: 10px;
    width: 25px;
    height: 25px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 0.5rem;
    align-items: center;
    justify-content: center;
}

#VoTeMake_Top {
    font-size: 24px;
    font-weight: 700;
    color: rgb(0, 0, 0);
    margin-bottom: 8px;
    text-align: left;
}

.VoteMake_item {
    width: 500px;
    margin-bottom: 20px;
}

.VoteMake_item label {
    display: block;
    font-weight: 600;
    margin-bottom: 8px;
    color: rgb(0, 0, 0);
}

.VoteMake_item input[type="text"] {
    width: 90%;
    padding: 10px;
    border: 1px solid #d1d5db;
    border-radius: 8px;
    transition: all 0.2s;
    box-sizing: border-box;

    margin-bottom: 5px;
}

#VoteMake_AddOption {
    padding: 7.5px 12.5px;
    border-radius: 0.25rem;
    cursor: pointer;
    font-size: 13.75px;
    font-weight: 450;
    color: rgb(255, 255, 255);
    background-color: #33A1E0;
}

#VoteMake_DeleteOption {
    cursor: pointer;

    width: 20px;
    height: 20px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    border-radius: 0.25rem;
    display: inline-block;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    top: 50%;
}

.VoteMake_item input[type="date"],
.VoteMake_item input[type="time"] {
    width: 45%;
    padding: 10px;
    border: 1px solid #d1d5db;
    border-radius: 8px;
    transition: all 0.2s;
    box-sizing: border-box;
}

.VoteMake_item input[type="text"]:focus,
.VoteMake_item input[type="date"]:focus {
    outline: none;
    border-color: #33A1E0;
    box-shadow: 0 0 0 3px rgba(37, 99, 235, 0.2);
}

.VoteMake_item input[type="radio"],
.VoteMake_item input[type="checkbox"] {
    margin-right: 12px;
    transform: scale(1.2);
}

.VoteMake_CheckboxContainer {
    display: flex;
    align-items: center;
    gap: 16px;
}

.VoteMake_Checkbox_item {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.VoteMake_Checkbox_item input[type="checkbox"] {
    transform: scale(1.2);
}

.VoteMake_Checkbox_item:hover label {
    color: #33A1E0;
}

#VoteMake_button {
    padding: 12px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    color: rgb(255, 255, 255);
    background-color: #33A1E0;
}