.not-found-container {
  min-height: 80vh;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-align: center;
  color: #343a40;
}

.not-found-container h1 {
  font-size: 140px;
  margin: 0;
}

.not-found-container h2 {
  font-size: 30px;
  margin: 0;
}

.not-found-container p {
  font-size: 18px;
  margin: 0;
}

.title {
  font-size: 50px;
  margin-bottom: 10px;
}

.error-title {
  font-size: 70px;
  font-weight: 900;
  margin-bottom: 20px;
}

.message {
  margin-bottom: 20px;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
}

.not-found-container .dashboard-link {
  padding: 10px 15px;
  font-size: 1.2rem;
  font-weight: 550;
  background-color: #33a1e0;
  color: #f8f8f8;
  border-radius: 5px;
  transition: background-color 0.2s, color 0.2s;
  cursor: pointer;
}

.not-found-container .dashboard-link:hover {
  color: #ffffff;
  background-color: #288ac3ff;
}

.Error-logo {
  width: 300px;
  height: 300px;
  margin: 0;
}
