.Calendar-container {
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
}

.Month-container {
  display: flex;
  flex-direction: row;
  gap: 5px;
  justify-content: start;
  align-items: center;
  position: relative;
  padding-bottom: 10px;
}

.Month {
  positoin: relative;
  min-width: 140px;
  font-size: 25px;
  font-weight: 600px;
}

.prevButton {
  background-color: transparent;
  cursor: pointer;
  padding: 5px;
  padding-top: 10px;
}

.nextButton {
  background-color: transparent;
  cursor: pointer;
  padding: 5px;
  padding-top: 10px;
}

.prevButton:hover {
  background-color: #fefefe;
}

.nextButton:hover {
  background-color: #fefefe;
}

.leftIcon {
  width: 15px;
  height: 15px;
}

.rightIcon {
  width: 15px;
  height: 15px;
}

.Month {
  font-size: 25px;
  font-weight: 600;
}

.Calendar {
  border: 2px solid #338fc5;
  border-radius: 5px;
  padding-top: 0px;
  padding-bottom: 5px;
}

.calendar-week {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 20px;
  padding: 10px;
  background-color: #f7f7f7;
  border-radius: 5px;
}

.calendar-weekday {
  color: #a4a4a4;
  text-align: center;
  font-weight: 600;
}

.calendar-day {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.calendar-day-cell {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: end;
  background-color: #ffffff;
  height: 85px;
  border: 0.5px solid #d3d3d3;
  text-align: end;
}

.calendar-day-cell.prev-next-month {
  background-color: #f0f0f0;
  color: #a0a0a0;
}

.calendar-date {
  font-weight: 500;
  font-weight: 500;
  padding-top: 5px;
  padding-left: 0px;
  padding-right: 10px;
}

.calendar-day-cell.prev-next-month:hover {
  background-color: #f0f0f0;
}

.calendar-day-cell:hover {
  background-color: #33a1e0;
}
