.Layout {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
}

.Layout-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.Layout-main {
  position: fixed;
  top: 70px;
  left: 260px;
  right: 0;
  bottom: 60px;
  padding-top: 10px;
  padding-bottom: 10px;
  overflow: hidden;
  box-sizing: border-box;
  background-color: #fefefe;
}

.Layout-main.full-width {
  left: 0;
}

.Layout-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}
